*{
    /* background-color:black; */
}
#container{
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    position: absolute;
}
.loading{
    --speed-of-animation:0.9s;
    --gap:6px;
    --first-color:#22223b;
    --second-color:#4a4e69;
    --third-color:#9a8c98;
    --fourth-color:#c9ada7;
    --fifth-color:#f2e9e4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 6px;
    height: 500px;

    /* border: 1px solid pink; */
}
.loading span {
    width:11px;
    height: 250px;
    background :var(--first-color);
animation: scale var(--speed-of-animation) ease-in-out infinite;
}
.loading span:nth-child(1){
    background: var(--first-color);
    animation-delay: -0.10s;
}
.loading span:nth-child(2){
    background: var(--second-color);
    animation-delay: -0.9s;
}
.loading span:nth-child(3){
    background: var(--third-color);
    animation-delay: -0.8s;
}
.loading span:nth-child(4){
    background: var(--fourth-color);
    animation-delay: -0.7s;
}
.loading span:nth-child(5){
    background: var(--fifth-color);
    animation-delay: -0.6s;
}
.loading span:nth-child(6){
    background: var(--first-color);
    animation-delay: -0.6s;
}
.loading span:nth-child(7){
    background: var(--second-color);
    animation-delay: -0.7s;
}
.loading span:nth-child(8){
    background: var(--third-color);
    animation-delay: -0.8s;
}
.loading span:nth-child(9){
    background: var(--fourth-color);
    animation-delay: -0.9s;
}
.loading span:nth-child(10){
    background: var(--fifth-color);
    animation-delay: -0.10s;
}

@keyframes scale{
    0%,40%,100%{
        transform: scaleY(0.05);
    }
    20%{
        transform: scaleY(1);
    }
}